{{!-- <div class="p-5 box">
    <h1>Hello world!</h1>

    <h2 id="user">Hello world!</h2>

    <button type="button" class="btn">Enter</button>

    <p class="user">This is text</p>
</div> --}}

<section class="p-5 box">

    <h1>Hello world!</h1>

    <p class="user">This is text</p>

</section>
<section class="p-5 box">

    <h1>Hello world!</h1>

    <p class="user">Died is text</p>

</section>
<section class="p-5 box">
    <strong>Test</strong>
    <h1>Hello world!</h1>
    <strong>Test</strong>
    <em>Test</em>
    <div>
        <p class="user">Fuck you text</p>
    </div>

</section>


{{!-- <footer class="p-5 box">

    <h1>Hello world!</h1>

    <p class="user">
        <em class="child">Sumary text</em>
    </p>
    <div>
        <strong>Nadia</strong>
    </div>
</footer> --}}