<main class="p-5">

    <div class="card p-5">
        <p id="test">Hello World! Hello World! Hello World !Hello World! Hello World!</p>
        <p id="test">Hello World!</p>
        <p hidden id="test">Hello World!</p>
        <span class="test">Test</span>
    </div>

    <pre>
          Port        
    </pre>

    <div>Block</div>
    <div>Block</div>
    <div>Block</div>
    <div>Block</div>
    <div>Block</div>

    <div style="padding: 50px 0 50px 100px; background: gray; height: 200px;">

        <span>Inline</span>
        <span>Inline</span>
        <span>Inline</span>

        <span class="block">Inline-block</span>
    </div>

</main>