{{!-- /* СЕЛЕКТОРИ ЧАСТИНА 1 */ --}}

{{!-- <div class="p-5 box">
    <h1>Hello world!</h1>

    <h2 id="user">Hello world!</h2>

    <button type="button" class="btn">Enter</button>

    <p class="user">This is text</p>
</div> --}}

{{!-- <section class="p-5 box">

    <h1>Hello world!</h1>

    <p class="user">This is text</p>

</section>
<section class="p-5 box">

    <h1>Hello world!</h1>

    <p class="user">Died is text</p>

</section>
<section class="p-5 box">
    <strong>Test</strong>
    <h1>Hello world!</h1>
    <strong>Test</strong>
    <em>Test</em>
    <div>
        <p class="user">Fuck you text</p>
    </div>

</section> --}}


{{!-- <footer class="p-5 box">

    <h1>Hello world!</h1>

    <p class="user">
        <em class="child">Sumary text</em>
    </p>
    <div>
        <strong>Nadia</strong>
    </div>
</footer> --}}




{{!-- СЕЛЕКТОРИ ЧАСТИНА 2 --}}
{{!-- <div class="card p-5 m-5 card-dark">
    <div class="item">First</div>
    <p class="item">Second</p>
    <strong class="item">Test strong</strong>
    <p></p>
    <article class="item">last</article>
    <div class="item">First</div>
    <article class="item">last</article>
</div> --}}


{{!-- СЕЛЕКТОРИ 3 ЧАТИНА --}}

{{!-- <div class="card p-5 m-5 card-dark">
    <input class="input-dark" placeholder="this is text" required>
    <input class="input-dark" type="number">
</div>

<div class="card p-5 m-5 card-dark img">
    <img alt="image small card 100px" class="small-img" src="https://picsum.photos/id/237/200/300" height="100px">

    <a href="https://picsum.photos/id/237/200/300" rel="external">Link</a>
    <br>
    <button class="btn">Click me</button>
    <br>
    <a class="text btn btn-danger" href="https://picsum.photos/id/237/200/300">Click me</a>
    <br>
    <a class="text btn btn-secondary" href="https://picsum.photos/id/237/200/300">Click me</a>
</div>

<div class="card p-5 m-5 card-dark">
    <p class="big-text"> This is text about info big text info <br> This is text
        about info big text info</p>
</div> --}}


{{!--Селектори 4 частина --}}

<div lang="fr" class="card p-5 m-5 card-dark">
    <a class="link" href="#test">Click me</a>
</div>

<div lang="en" id="test" class="card p-5 m-5 card-dark">
    <input>
    <span>Hello World!</span>
    <button>Test button</button>
</div>

<div class="p-5 m-5 card-dark">
    <button>Test button</button>
    <button disabled>Disabled button</button>
</div>

<div class="p-5 m-5 card-dark">
    <input class="inp">


    <div class="mt-5">
        <div>
            <input type="checkbox" checked>
            <span>First checkbox</span>
        </div>
        <div>
            <input type="checkbox">
            <span>Second checkbox</span>
        </div>
    </div>
</div>

<div class="p-5 m-5 card-dark">
    <div>
        <input type="email" required class="valid" placeholder="test">
        <span>Test text</span>
    </div>


    <div class="mt-5">
        <input type="number" min="10" max="20" required class="number">
    </div>
</div>