.card {
}

.card > p {
  color: green;
  -webkit-text-fill-color: red;
  -webkit-text-stroke: 1px blue;
}

p:focus, 
p:active,
p:hover {
  -webkit-text-fill-color: rgb(27, 211, 45);
  -webkit-text-stroke: 1px rgb(207, 37, 179);

  direction: rtl;
}

#test {
  color: inherit;
  -webkit-text-fill-color: inherit;
  -webkit-text-stroke: inherit;

  /* writing-mode: vertical-lr; */
  text-align: justify;

  letter-spacing: 0.1em;
}

span {
  text-transform:uppercase ;

  text-decoration: underline dotted red;

  text-decoration-color: rgb(18, 217, 181);

text-decoration-line: overline;

text-decoration-style:wavy;
}

pre {
  tab-size: 5;
}

* {
  font-family: 'Roboto', sans-serif;
  font-size: large;
  font-weight: 900;
  font-style: italic;

  font-display: swap;
}

span {
  font-size: x-large;

  font-weight: lighter;

  font-style: oblique;
}

p {
  font-stretch: expanded;
}

/* ВІДОБРАЖЕННЯ БЛОКІВ */

.test {
  display: block;
}

.block {
  display: inline-block;
  background: rgb(226, 220, 220);
  margin: auto;

  width: 100px;
  
  max-width: 600px;

  min-height: 100px;

  max-height: max-content;
}