.lesson-four-task-one:hover {
  color: red;
  background: yellow;
}

.lesson-four-task-two:hover {
  background: green;
}

.lesson-four-task-three:visited {
  color: yellow;
}

.lesson-four-task-four .link:link {
  color: red;
}

.lesson-four-task-five .btn:active {
  background: blue;
}

.lesson-four-task-six .btn:focus {
  background-color: rgb(225, 144, 15);
}

.lesson-four-task-seven #target:target {
  color: white;
  background: green;
}

 input[type='checkbox']:checked ~ #target  {
  color: white;
  background: blue;
}

.lesson-four-task-nine :lang(uk) {
  color: blue;
}

.lesson-four-task-ten .form-group :enabled {
  color: red;
  background: yellow;
}

.lesson-four-task-eleven input:disabled {
  background-color: yellow;
}

.lesson-four-task-twelve input:read-write {
background: yellow;
}

.lesson-four-task-thirteen input:read-only {
  background-color: yellow;
}

.lesson-four-task-fourteen input:valid {
  background-color: green;
}

.lesson-four-task-fourteen input:invalid {
  background-color: red;
}

.lesson-four-task-fifteen textarea:optional {
  background-color: red;
}

.lesson-four-task-sixteen :out-of-range {
  color: red;
}

.lesson-four-task-seventeen :in-range {
  color: red;
}

.lesson-four-task-eighteen input:placeholder-shown {
  background-color: red;
} 

.lesson-four-task-nineteen :focus-within {
  color: white;
  background-color: yellow;
}

.lesson-four-task-twenty input[type='email']:invalid {
  background-color: red;
}
.lesson-four-task-twenty input[type='text']:invalid {
  background-color: red;
}