/* СЕЛЕКТОРИ ЧАСТИНА 1 */

/* html {
    background: black;
} */

/* body {
    background: gray;
} */

/* Глобальний селектор для виділення усієї сторінки */
/* * {
    color:green;
} */

/* Корневий тег (головний) звертається до <html> тегу */
/* :root {
background: purple;
} */

/* Селектор який звертається до класу наприклад "<div class="p-5 box">" */
/* div.box {
    background: #0ca9a9
}

button.btn {
    color: red;
} */

/* Звертається до ідентифікатора id  наприклад "<h1 id="user">Hello world!</h1>" */
/* #user,
.user {
    color:blue;
} */

/* можна звертатись до декількох тегів через "," */
/* h1,
h2#user,
button.btn {
    color: green;
} */

/* Селектор звертається від батьківського тегу чи його класу, до дочірнього */
/* div > p {
    color: paleturquoise;
}
.box > p {
    color: paleturquoise;
} */

/* footer > .user {
    color:rgb(211, 25, 140);
} */

/* Селектор НАЩАДОК це будь який тег буде змінений, який розташований в середині іншого тегу */
/* footer .child{
    color:rgb(252, 202, 5);
} */

/* Селектор який надає стилі для тегу який йде відразу після основного */
  /* h1 + p {
    background: black;
  } */

/* Селектор який надає стилі для cусідніх тегів, що розташовані після основного тегу */
  /* h1 ~ p,
  h1 ~ * > p {
    background: rgb(55, 243, 67);
  } */



  
                          /* СЕЛЕКТОРИ ЧАСТИНА 2 */
  /* .card-dark {
    background: rgb(189, 208, 213);
  }
  .item {
      color:green;
  } */
  /* Селектор який звертається до першої дитини (first-child) і останьої дитини (last-child) */

  /* .item:first-child {
    color: blue;
  }
  .item:last-child {
    color: rgb(152, 90, 196);
  } */

  /* Селектор який звертається до єдиної дитини в тегу */

/* .item:only-child {
    color: aqua;
} */

/* Селектор який звертається до перших тегів по заданому тегу чи класу серед своїх сусідніх тегів */

/* .item:first-of-type {
    color: blue;
  } */
  
  /* Селектор який звертається до останього тегу по заданому тегу чи класу серед своїх сусідніх тегів */
  
  /* .item:last-of-type {
      color: rgb(219, 103, 37);
    } */
  
    /* Селектор який використовується для тегу який є одиничним у списку */

/* .item:only-of-type {
color:brown;
} */

/* Селектор який вказує на номер тегу який потрібно стилізувати (1.2.3, 
even-обирає парні елементи, odd-обирає не парні елементи*/

/* .item:nth-child(3n + 1) {
    color: rosybrown;
} */

/* Селектор обирає елементи на основі їх позиції в батьківському елементі, але підрахунок веде з кінця */

/* .item:nth-last-child(2) {
    color: rosybrown;
} */

/* Селектор який обирає елементи на основі їх позиції в батьківському елементі та типу тегу */

/* .item:nth-of-type(2n) {
    color: rosybrown;
} */

/* Селектор який обирає елементи на основі їх позиції в батьківському елементі та типу тегу але підрахунок веде знизу */

/* .item:nth-last-of-type(2n) {
color: rosybrown;
} */

/* Селектор який обирає елементи які не повині відповідати вказаним селекторам */

/* p:not(.item) {
color: rosybrown;
} */

/* Селектор який обирає елементи які не мають всередині контенту чи тегів */

/* p:empty {
    height: 10px;
    background: red;
} */



                      /* СЕЛЕКТОРИ 3 ЧАСТИНА */

/* .input-dark {
background: rgb(219, 214, 203);
} */

/* Селектор атирибуту */
/* .input-dark[required] {
    background: red;
} */

/* Селектор значення атрибуту */
/* .input-dark[type="number"] {
    background: rgb(76, 213, 78);
} */

/* Селектор який вибирає тег якщо він має вказаний атрибут в якому можуть перебувати деілька різних значень */
/* .small-img[alt~="small"] {
    height: 200px;
}
.card[class~=img] {
    height: 500px;
} */

/* a[rel~="external"] {
    color: green;
} */

/* Селектор префіксу сначення атрибуту */
/* button[class|="btn"] {
    background: rgb(224, 214, 214);
} */

/* Селекор який обирає тег якщо він має вказаний атрибут, значення якого починається з вказаного value */
/* a[class^='btn'] {
    background: rgb(83, 75, 75);
} */

/* Слектор який обирає певне значення яке вказано в тегу і атрибуту і не має значення де воно розташоване чи на початку чи на кінці  */
/* a[class*='btn'] {
    background: rgb(176, 96, 96);
} */

/* Селектор який обирає тег якщо він має вказаний атрибут значення якого закінчується з в казаного value */
/* a[class$='secondary'] {
    background: rgb(17, 16, 16);
} */

/* Селектор який дозволяє стилізувати певні частини елементів */
/* .btn::first-letter {
    color: blueviolet;
} */

/* для першого рядка */
/* .big-text::first-line {
    color: rgb(212, 18, 41);
} */

/* Селектор якйи задає  стиліації для тексту атрибуту placeholder тегу input */
/* .input-dark::placeholder {
    color: green;
    background: greenyellow;
} */

/* Cелектор надає можливість вказати контент який буде йти попереду основного контенту елемента, та надати йому стилі */
/* .big-text::before {
    content: '$$$';
    color: green;
} */

/* Cелектор надає можливість вказати контент який буде йти після основного контенту елемента, та надати йому стилі */
/* .big-text::after {
    content: '$$$';
} */


                           /* Селектори 4 частина */


/* Селектор цільового типу якір */
/* #test:target {
    color: red;
} */

/* Селектор обирає тег <a> якщо по його посиланю користувач не переходив */
/* .link:link {
    color:red;
} */

/* Селектор наведення */
/* .link:hover {
    color: green;
} */

/* Слектор який обирає тег коли користувач на нього натиснув мишкою */
/* .link:active {
    color:yellow; 
} */

/* .card:active {
    background-color: purple;
} */

/* Селектор який обирає тег, коли користувач почав взаємодіяти з ним */
/* input {
    background:gray;
}
input:focus {
    background-color: red;
} */

/* Селектор який вибирає тег коли користувач почав взаємодіяти з ним або з його дитячими тегами */
/* .card:focus-within {
    background: red;
} */


/* Селектор МОВИ він обирає тег який має атрибут lang з вказаним значенням */
/* .card:lang(en) > span::after {
content: '(en)';
} */

/* Селектор який обирає тег форми який доступний і не заблокований для взаємодії */
/* button:enabled {
    background: green
}     */

/* button {
    background: greenyellow;
} */

/* Селектор який обирає тег форми який не доступний і є заблокований для взаємодії */
/* button:disabled {
    background: aqua;
} */

/* Селектор який обирає тег форми в який ми можемо вводити свої значення */
/* .inp:read-write {
    background: blue;
} */


/* Селектор який обирає тег форми в який ми не можемо вводити свої значення а лише його читати*/
/* .inp:read-only {
    background-color: red;
} */

/* Cелектор обирає тег форми який був відмічений або вибраний користувачем */
/* input[type='checkbox']:checked ~ span {
    background: red;
} */

/* Селектор який обирає тег поля форми який пройшов валідацію і є валідним */
/* .valid:valid {
    background: yellow;
} */

/* Селектор який обирає тег поля форми який не пройшов валідацію і не є валідним */
/* .valid:invalid {
    background: goldenrod;
} */

/* Селектор який обирає тег поля форми який є необовязковим там має атрибут optional */
/* .valid:optional {
    background-color: green;
} */

/* Селектор обирає тег input значення якого виходить за межі вказаного діапазону атрибутиів min та max  */
/* .number:focus {
    background-color: gray;     
} 
.number:out-of-range {
    background: red;
} */

/* Селектор обирає тег input значення якого знаходиться в межах вказаного діапазону атрибутиів min та max  */
/* .number:in-range {
    background: green
} */

/* Селектор який обирає тег input який має атрибут placeholder */
/* input:placeholder-shown ~ span {
    background-color: pink;
} */


