:root {
  --border-radius: 12px;
  --space-m: 12px;
  --space-xm: 16px;
  --space-l: 24px;
  --space-b: 36px;

  --size-s: 14px;
  --size-d: 16px;
  --size-l: 20px;

  --weight-title: 500;
  --weight-text: 400;
  
  --color-title: #212529;
  --color-text: #343A40;
  --color-border: #dee2e6
  
}

/* =========================================================== */
.page {
  background: #FFFFFF;
  padding: 0 15px;

  display: flex;
  justify-content: center;
}

.page_content {
  max-width: 960px;
  width: 100%;

  display: flex;
  flex-direction: column;

  gap: 80px;
}
/* =========================================================== */

.header {
padding: var(--space-l) 0;
border-bottom: 1px solid var(--color-border);

display: flex;
justify-content: space-between;
}

.logo {
  font-size: 17px;
  color: #FFFFFF;
  background: blue;

  width: 24px;
  height: 24px;

  border-radius:calc(var(--border-radius) / 2);

  display: flex;
  justify-content: center;
  align-items: center;
}

.nav {
  display: flex;
}

.nav_inline {
  gap: var(--space-l);
}

.nav_vertical {
  gap: var(--space-xm);
  flex-direction: column;
}

.nav_link {
color: var(--color-text);
font-size: var(--size-d);
text-decoration: none;

line-height: 100%;
}

.nav_link:hover {
text-decoration: underline;
color: blue;
}

.footer {
  padding: var(--space-l) 0;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid var(--color-border);
}

.footer_copyright {
  font-size: var(--size-s);
  color: var(--color-text);

  display:block;

  margin-top: var(--space-l);
}

.footer_title {
  font-size: var(--size-l);
  color: var(--color-title);

  display: block;
  margin-bottom: var(--space-l);

  font-weight: var(--weight-title);
}

.main {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: var(--space-b);

  padding: var(--space-b);
}

.main_image {
  height: 500px;
  width: 500px;
  border-radius: var(--border-radius);
}

.main_content {
  display: flex;
  flex-direction: column;
  gap: var(--space-l);
}

.main_title {
  font-size: 50px;
  color: var(--color-title);
  font-weight: var(--weight-title);
  line-height: 120%;
}

.main_text {
  font-size: var(--size-l);
  color: var(--color-text);
  font-weight: var(--weight-text);
  line-height: 170%;
}

.main_button {
  background: #6C757D;
  color: #FFFFFF;
  padding: var(--space-m) var(--space-xm);
  width: 100%;
  max-width: 50%;
  text-align: center;
  text-decoration: none;
  border-radius: 4px;
}

.blog {
  display: flex;
  gap: var(--space-b);

  /* padding: var(--space-b); */
  padding-bottom: 40px;
  border-bottom: 1px solid var(--color-border);
}

.featured {
display: flex;
flex-direction: column;
align-items: start;
text-align: start;
width: 334px;
height: 292px;
padding: 0 26px 121px 26px;
}

.featured_img {
  height: 64px;
  width: 64px;
  border-radius: 12px;
}

.featured_title {
  font-size: 31px;
  font-weight: 500;
  color: var(--color-title);
  line-height: 31px;
  margin: 15px 0 0;
}

.featured_text {
  display: flex;
  align-items: center;
  font-size: 16px;
  line-height: 28px;
  font-weight: var(--weight-text);
  color: var(--color-text);
}

.featured_button {
  display: inline-block;
  font-size: var(--size-d);
  text-decoration: none;
  border-radius: var(--border-radius);
  width: 96px;
  height: 26px;
  padding: 10px 0;
}

.featured_button {
  color: rgb(89, 117, 219);
  text-decoration-line:underline ;
}

.button:hover {
  opacity: 0.7;
}

.actions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
 
  background: #563D7C;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
}

.actions_content {
  display: flex;
  flex-direction: column;
  gap: var(--space-m);
  padding: 0 7px 5px 5px;
}

.actions_title {
  font-size: 17px;
  font-weight: var(wi);
  color: white;
}

.actions_content {
 display: flex;
flex-direction: row; 
justify-content: center;
align-items: center; 
 /* max-width:60px; */
color: var(--color-text);
/* width: 80px; */
/* padding: 12px 24px 16px 24px; */
/* margin: 0 42px 25px 24px;  */
}

.button {
  background: #6C757D;
 display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 18px 50px 20px 50px;
margin: 4px 24px 24px 24px;
gap: 10px;
text-decoration: none;

width: 50px;
height: 10px;

background: #FFFFFF;
border-radius: 4.8px;
}


















